:root {
  --color1: #ffffff; /* Branco */
  --color2: #a1ac88; /* Verde Musgo */
  --color3: #757575; /* Cinza */
  --color4: #464d70; /* Azul Acinzentado */
  --color5: #000000; /* Preto */
}


body {
  width: 100%;
  height: 100vh;
  background-color: var(--color5);
 background-image: 
    linear-gradient(color-mix(in srgb, var(--color1) 30%, transparent) 1px, transparent 1px), 
    linear-gradient(90deg, color-mix(in srgb, var(--color1) 30%, transparent) 1px, transparent 1px);
  background-size: 30px 30px;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: var(--color5);
    color: var(--color4);  
    margin: 20px 20px 20px 20px;
    border: 8px solid var(--color2);
    border-radius: 10px;
}

#search-bar {
  display: flex;
  margin-right: 20px;
}



